/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #141414;
  font-family: "Helvetica Neue", sans-serif;
}
